RewriteEngine On
RewriteRule ^gitsync/ /pm_tools/gitSync.php [L]
RewriteRule ^sf2/ /pm_tools/sf2.php [L]
RewriteRule ^composerinstall/ /pm_tools/composerInstall.php [L]
RewriteRule ^tail/ /pm_tools/tail.php [L]
RewriteRule ^tailsf2/ /pm_tools/tailSymfony2.php [L]
RewriteRule ^pminfo/ /pm_tools/pminfo.php [L]
RewriteRule ^clearvarnish/ /pm_tools/clearVarnish.php [L]
